@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  scroll-behavior: smooth !important;
}

*:focus-visible,
*:focus {
  outline: rgb(136, 136, 136) dashed 1px;
  outline-color: rgb(136, 136, 136);
  outline-style: dashed;
  outline-width: 1px;
  outline-offset: 2px;
}

.no-focus:focus {
  outline: none !important;
}

svg {
  outline: none !important;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

body {
  overflow-x: hidden !important;
}

html {
  scroll-behavior: smooth !important;
}

::selection {
  background-color: rgba(56, 139, 253, 0.4);
}

@media (max-width: 768px) {
  body {
    margin-top: 56px !important;
  }
}
@media (min-width: 1024px) {
  body {
    margin-top: 56px !important;
  }
}
@media (min-width: 1280px) {
  body {
    margin-top: 56px !important;
  }
}

#index_page__gradient01 {
  background: rgba(255, 255, 255, 0);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 2%,
    rgba(128, 191, 143, 1) 25%,
    rgba(29, 141, 55, 1) 50%,
    rgba(142, 198, 155, 1) 75%,
    rgba(255, 255, 255, 0) 98%
  );
}


.font__spline {
  font-family: "Spline Sans Mono", monospace !important;
}



#skeleton__anim {
  position: relative;
  background-color: #fcfcfc;
  overflow: hidden;
}
#skeleton__anim::after {
  content: ' ';
  position: absolute;
  left: 30rem;
  width: 20rem;
  height: 100%;

  background: rgba(255, 255, 255, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 30%,
    rgb(0, 0, 0, 1) 50%,
    rgba(255, 255, 255, 0) 70%
  );

  opacity: 2%;

  animation: skeleton_anim 1000ms linear infinite;
}

@keyframes skeleton_anim {
  0% {
    left: -30rem;
  }
  100% {
    left: 30rem;
  }
}